<nav>
    <a href="/">MOVIEMAGIC</a>

    <div id="navSearch">
        <input type="search" name="inputSearch" id="">
        <input type="submit" value="Search">
    </div>

    <a href="">MySHOWS</a>
</nav>