<nav>
    <a href="/">MOVIEMAGIC</a>

    <form action="/movie-search" method="get" enctype="multipart/form-data" id="navSearch"> <!--oder POST??-->
        <input type="search" name="inputSearch" id="inputSearch">
        <input type="submit" value="Search">
    </form>

    <a href="">MySHOWS</a>
</nav>