* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #4F4F4F;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
}
/**** NAVIGATION ****/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
}

form {
    width: 40%;
}
input[type=search] {
    width: 400px;
    border-radius: 50px;
    height: 30px;
    margin-right: 2%;
    border: 1px solid rgba(255, 255, 255, 0.534);
}

input[type=submit] {
    background: #fff;
    color: #000;
    width: 150px;
    border-radius: 50px;
    height: 30px;
    border: 1px solid  rgba(255, 255, 255, 0.534);
    cursor: pointer;
}

input[type=submit]:hover {
    background: rgba(167, 158, 158, 0.527);
}

#popularSec, #resultsSec {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(20%, 1fr));
    column-gap: 2%;
    row-gap: 6vh;
}

.grid-img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 30px;
}

#popularSec h3, #resultsSec h3{
    font-size: 1.5rem;
    font-weight: 300;
}

/**** Details page ****/
.cover-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-bottom-left-radius: 30px;
}


